@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-Black.eot");
  src: url("./font/Mulish-Black.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-Black.woff2") format("woff2"),
    url("./font/Mulish-Black.woff") format("woff"),
    url("./font/Mulish-Black.ttf") format("truetype"),
    url("./font/Mulish-Black.svg#Mulish-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-BlackItalic.eot");
  src: url("./font/Mulish-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-BlackItalic.woff2") format("woff2"),
    url("./font/Mulish-BlackItalic.woff") format("woff"),
    url("./font/Mulish-BlackItalic.ttf") format("truetype"),
    url("./font/Mulish-BlackItalic.svg#Mulish-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-Bold.eot");
  src: url("./font/Mulish-Bold.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-Bold.woff2") format("woff2"),
    url("./font/Mulish-Bold.woff") format("woff"),
    url("./font/Mulish-Bold.ttf") format("truetype"),
    url("./font/Mulish-Bold.svg#Mulish-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-ExtraBold.eot");
  src: url("./font/Mulish-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-ExtraBold.woff2") format("woff2"),
    url("./font/Mulish-ExtraBold.woff") format("woff"),
    url("./font/Mulish-ExtraBold.ttf") format("truetype"),
    url("./font/Mulish-ExtraBold.svg#Mulish-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-BoldItalic.eot");
  src: url("./font/Mulish-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-BoldItalic.woff2") format("woff2"),
    url("./font/Mulish-BoldItalic.woff") format("woff"),
    url("./font/Mulish-BoldItalic.ttf") format("truetype"),
    url("./font/Mulish-BoldItalic.svg#Mulish-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-Italic.eot");
  src: url("./font/Mulish-Italic.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-Italic.woff2") format("woff2"),
    url("./font/Mulish-Italic.woff") format("woff"),
    url("./font/Mulish-Italic.ttf") format("truetype"),
    url("./font/Mulish-Italic.svg#Mulish-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-ExtraLightItalic.eot");
  src: url("./font/Mulish-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/Mulish-ExtraLightItalic.woff2") format("woff2"),
    url("./font/Mulish-ExtraLightItalic.woff") format("woff"),
    url("./font/Mulish-ExtraLightItalic.ttf") format("truetype"),
    url("./font/Mulish-ExtraLightItalic.svg#Mulish-ExtraLightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-ExtraLight.eot");
  src: url("./font/Mulish-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-ExtraLight.woff2") format("woff2"),
    url("./font/Mulish-ExtraLight.woff") format("woff"),
    url("./font/Mulish-ExtraLight.ttf") format("truetype"),
    url("./font/Mulish-ExtraLight.svg#Mulish-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-ExtraBoldItalic.eot");
  src: url("./font/Mulish-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/Mulish-ExtraBoldItalic.woff2") format("woff2"),
    url("./font/Mulish-ExtraBoldItalic.woff") format("woff"),
    url("./font/Mulish-ExtraBoldItalic.ttf") format("truetype"),
    url("./font/Mulish-ExtraBoldItalic.svg#Mulish-ExtraBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-LightItalic.eot");
  src: url("./font/Mulish-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-LightItalic.woff2") format("woff2"),
    url("./font/Mulish-LightItalic.woff") format("woff"),
    url("./font/Mulish-LightItalic.ttf") format("truetype"),
    url("./font/Mulish-LightItalic.svg#Mulish-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-Regular.eot");
  src: url("./font/Mulish-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-Regular.woff2") format("woff2"),
    url("./font/Mulish-Regular.woff") format("woff"),
    url("./font/Mulish-Regular.ttf") format("truetype"),
    url("./font/Mulish-Regular.svg#Mulish-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-Light.eot");
  src: url("./font/Mulish-Light.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-Light.woff2") format("woff2"),
    url("./font/Mulish-Light.woff") format("woff"),
    url("./font/Mulish-Light.ttf") format("truetype"),
    url("./font/Mulish-Light.svg#Mulish-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-SemiBold.eot");
  src: url("./font/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./font/Mulish-SemiBold.woff2") format("woff2"),
    url("./font/Mulish-SemiBold.woff") format("woff"),
    url("./font/Mulish-SemiBold.ttf") format("truetype"),
    url("./font/Mulish-SemiBold.svg#Mulish-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./font/Mulish-SemiBoldItalic.eot");
  src: url("./font/Mulish-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/Mulish-SemiBoldItalic.woff2") format("woff2"),
    url("./font/Mulish-SemiBoldItalic.woff") format("woff"),
    url("./font/Mulish-SemiBoldItalic.ttf") format("truetype"),
    url("./font/Mulish-SemiBoldItalic.svg#Mulish-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Header */

body {
  width: 1900px;
  margin: auto;
  padding: 0;
  font-family: "Mulish";
}

header {
  width: 1900px;
  height: 70px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.typelogo {
  width: 200px;
  padding: 10px 10px;
}

#search {
  width: 600px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

#search:hover {
  transform: scale(1.1);
  transition: 0.5s;
  border: 1px solid #1464f4;
}
.bntHeader{
  display: flex;
  gap: 10px;
}

.hiddenBtn{
  display: none;
}
#logout{
  border: none;
  outline: none;
  color: #1464f4;
}
.typelogin,
.typecreate {
  font-family: "Mulish";
}

.typelogin {
  width: 100px;
  height: 35px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #1464f4;
  color: #1464f4;
  border-radius: 5px;
}

.typelogin:hover {
  background-color: #1464f4;
  color: #ffffff;
}
.content{
  display: none;
}

.formContent {
  width: 1800px;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px auto;
}

#form {
  background-color: white;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#form:hover {
  box-shadow: 1px 1px 5px grey;
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  transition: 0.5s;
}
tr, td, p, h4 {
    padding: 5px 5px;
    margin: 0;
}
.name {
  font-size: 25px;
  padding: auto;
}
.image_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formImage > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.vehicles {
    padding: auto;
}
.detail{
  padding: auto;
}
.price {
  text-align: center;
}

.buttonForm {
  text-align: center;
}

.buttonForm > button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #1464f4;
  color: white;
  border-radius: 5px;
}

.buttonForm > button:hover {
  background-color: #ffffff;
  color: #1464f4;
  border: 1px solid #1464f4;
}

.buttonForm > .buy {
  background-color: white;
  border: 1px solid #1464f4;
  color: #1464f4;
}

.buttonForm > .buy:hover {
  background-color: #1464f4;
  color: white;
}

#formAdd, #formEdit{
  font-size: 20px;
  font-style: italic;
  width: 900px;
  height: 500px;
  position: fixed;
  background-color: rgba(20, 100, 244, 0.9);
  color: #ffffff;
  border-radius: 6px;
  margin-left: 500px;
  margin-top: 100px;
  display: none;
  z-index: 1;
}

#formAdd > .gird, #formEdit > .gird {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 20px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;

}

div > input {
  height: 25px;
}
.flex> button {
  height: 30px;
  width: 100px;
}
.flex{
  display: flex;
  justify-content:space-evenly;
  padding: 10px;
}

.titleforAdd{
  text-align: center;
}
  /* Sign in Sign up */
  
  #formSign{
    font-size: 20px;
    font-style: italic;
    width: 400px;
    height: 400px;
    position: fixed;
    background-color: rgb(221, 221, 237, 0.9);
    color: #1464f4;
    border-radius: 6px;
    margin-left: 750px;
    margin-top: 150px;
    display: none;
    z-index: 1;
    text-align: center;
  }

  #formUp{
    font-size: 20px;
    font-style: italic;
    width: 400px;
    height: 450px;
    position: fixed;
    background-color: rgb(221, 221, 237, 0.9);
    color: #1464f4;
    border-radius: 6px;
    margin-left: 750px;
    margin-top: 150px;
    display: none;
    z-index: 1;
    text-align: center;
  }
  #formSign > p{
    font-size: 15px;
  }
  #btnhandleSignUp {
    border: none;
    color: red;
    font-size: 15px;
    background-color: rgb(221, 221, 237, 0.9);
  }
#formSign > .gird_1, #formUp > .gird_2{
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}
.gird_1 > input, .gird_2 > input,.gird_2 >button {
  height: 40px;
  font-size: 20px;
  font-family: "Mulish";
  font-style: italic;
  border-radius: 6px;
  border: none;
  margin-top: 30px;
  padding-left: 10px;
}
#btnLogin, #btnSignup{
  background-color: #1464f4;
  color:white;
}

#formSign  > i{
  position: absolute;
  right : 5px;
  top: 10px;

}

#formUp  > i{
  position: absolute;
  right : 5px;
  top: 10px;

}

   /* Add Zoom Animation */
   .animate {
    -webkit-animation: animatezoom 0.4s;
    animation: animatezoom 0.5s;
  }
  .gird_2{
    color: red;
    font-style: italic;
    font-size: 12px;
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

