
body{
  background-color: rgba(52, 210, 238, 0.356);
  font-size: larger;
  font-family:Helvetica;
}

h1
  {
    color: rgb(62, 194, 29);
    font-size: 80px;
    font-family: cursive;
    text-align: center;
    margin-top: 0%;

  }
  .icon{
    width: 200px;
    margin-left: 45%;
  }
  aside {
    text-align: right;
  }

  nav {
    text-align: center;
    font-size: 30px;
  }

  main{
    text-align: center;
  }
  li{
    text-align: left;
  }
.a{
  text-align: left;
}
