.lock{
    background-image: url(../img/dongho.png);
    width: 768px;
    height: 780px;
    margin-left: 500px;
}
.hour{
    width: 10px;
    height: 200px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    left: 880px;
    top: 5px;
    z-index: 10;
    transform: rotate(178deg);
    animation: hourMove 43200s linear infinite;
    outline: 100px solid transparent;

}

@keyframes hourmove{
    0%{
        transform: rotate(100deg);
    }
    100%{
        transform: rotate(700deg);
    }
}